.text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 36px;
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
}
.yomi {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 24px;
  /* margin: 0 auto; */
  margin-left: auto;
}

.yomiArea {
  padding: 20px;
  height: 500px;
  width: 125px;
  user-select: none;
  border: solid 10px gold;
}
